.hide-content {
  animation-name: hideContent;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes hideContent {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.show-blurred-text {
  animation-name: showBlurredText;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes showBlurredText {
  0% {
    letter-spacing: -0.5;
    opacity: 0;
    filter: blur(12px);
    /* will-change: filter; */
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    /* will-change: filter; */
  }
}

.slide-left-to-right {
  animation-name: slideLeftToRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes slideLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slide-right-to-left {
  animation-name: slideRightToLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes slideRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slide-bottom-top {
  animation-name: slideBottomToTop;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes slideBottomToTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hide {
  opacity: 0;
}

.delay-300ms {
  animation-delay: 300ms;
}

.delay-600ms {
  animation-delay: 600ms;
}

/* .infinity {
  animation-iteration-count: infinite;
} */

.magnitude-text-one {
  animation-name: slideBottomToTopWait;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes slideBottomToTopWait {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  /* 25% {
    opacity: 0;
    transform: translateY(100px);
  } */
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
  80% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.scale {
  animation-name: scale;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes scale {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  15% {
    opacity: 1;
    transform: scale(1);
  }
  /* 25% {
    opacity: 0;
    transform: translateY(100px);
  }
  70% {
    opacity: 1;
    transform: translateY(0px);
  } */
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
