#RightButtonsdMain {
  display: flex;
  /* grid-template-columns: 145px auto; */
  align-items: center;
  position: fixed;
  right: 45px;
  bottom: 0px;
  top: 1px;
  height: 65px;
  z-index: 1;
  -o-transition: width 1s; /* opera */
  -ms-transition: width 1s; /* IE 10 */
  -moz-transition: width 1s; /* Firefox */
  -webkit-transition: width 1s; /*safari and chrome */
  transition: 1s ease;
}

#RightButtonsdMain.Minimized {
  width: 35px;
}

#RightButtonsMinimizer {
  position: relative;
  left: 0;
  top: 0;
  width: 30px;
  height: 65px;
  padding-right: 10px;
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(31, 31, 31);
  border-right: solid 1px #575757;
}

.LightMode #RightButtonsMinimizer {
  background-color: #f2f4f7;
  border-right: solid 1px #d0d5dd;
}

#RightButtonsContainer {
  margin-right: 50px;
  height: 100%;
  width: 100%;
  background-color: rgb(31, 31, 31);
}
.LightMode #RightButtonsContainer {
  background-color: #f2f4f7;
}

.RightButtonsItems {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 5px;
}

#ComLeaderboardMain {
  display: flex;
  /* grid-template-columns: 145px auto; */
  align-items: center;
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 85px;
  z-index: 1;
  transition: width 1s ease-in-out; /* vendorless fallback */
  -o-transition: width 1s; /* opera */
  -ms-transition: width 1s; /* IE 10 */
  -moz-transition: width 1s; /* Firefox */
  -webkit-transition: width 1s; /*safari and chrome */
}

#ComLeaderboardMain.Minimized {
  width: 35px;
}

#ComLeaderboardContainer {
  height: 100%;
  width: 100%;
  /* padding-left: 70px; */
  background-color: rgb(31, 31, 31);
}
.LightMode #ComLeaderboardContainer {
  background-color: #f0f0f0;
}

#ComLeaderboardMinimizer {
  position: relative;
  left: 0;
  top: 0;
  width: 50px;
  height: 86px;
  padding-right: 10px;
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(31, 31, 31);
}
.LightMode #ComLeaderboardMinimizer {
  background-color: #f0f0f0;
}

#ComLeaderboardMinimizer .MetaButton {
  height: 100%;
  width: 100%;
}

#ComLeaderbaordChanger {
  font-size: 25px;
}

#ComLeaderbaordChangerText {
  color: #dcdcdc;
  font-size: 16px;
  width: 63px;
  text-align: center;
  font-weight: bold;
  /* margin-bottom: 4px; */
}
@media screen and (max-width: 600px) and (min-width: 10px) {
  #ComLeaderbaordChangerText {
    color: #dcdcdc;
    font-size: 12px;
    width: fit-content;
    text-align: center;
    font-weight: normal;
    word-break: keep-all;
  }
  #ComLeaderbaordChangerIcon {
    font-size: 22px !important;
  }
}
.LightMode #ComLeaderbaordChangerText {
  color: #454545;
}

#ComLeaderbaordChangerIcon {
  text-align: center;
  font-size: 32px;
}

#ComLeaderboardContainer #MultipleChoiceBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  left: 25px;
  bottom: 80px;
  width: 108.1px;
  font-size: 13px;
  border-radius: 5px;
}

#CenterredLoadingImageComLeaderboard {
  display: flex;
  width: 610px;
  padding: 0px;
  /* margin: 0 auto; */
  /* margin-top: -34px; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.ComLeaderbaordItems {
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 5px;
}
.ComLeaderbaordItems::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
}
.ComLeaderbaordItems::-webkit-scrollbar-thumb {
  background: rgba(105, 105, 105, 0.61);
  border-radius: 4px;
}
