:root {
  --navbar-height: 70px;
  --footer-height: 309px;
  /* --footer-height: 632px; */
}

@media (max-width: 900px) {
  :root {
    --footer-height: 632px;
    /* --footer-height: 309px; */
  }
}

.home-search-input::placeholder {
  font-size: 21px;
}

/* ------------------------------------------ */
/* styles from nodes */

.Node {
  position: absolute;
  left: 0px;
  top: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: #fdc473;
  background-color: #1f1f1f;
  color: rgb(220, 220, 220);
}
.LightMode .Node {
  background-color: #f0f0f0;
  color: #454545;
  font-weight: 490;
  border-width: 4px;
}

.Node.Changed {
  border-color: #fd7373;
}
.LightMode .Node.Changed {
  border-color: #ffa5a5;
  border-width: 4px;
}

.Node.active,
.Node.Choosable:hover {
  -webkit-box-shadow: 1px 0px 10px 7px rgba(190, 190, 190, 1);
  -moz-box-shadow: 1px 0px 10px 7px rgba(190, 190, 190, 1);
  box-shadow: 1px 0px 10px 7px rgba(190, 190, 190, 1);
}
.LightMode .Node.active,
.LightMode .Node.Choosable:hover {
  -webkit-box-shadow: 1px 0px 10px 7px rgb(0, 204, 255, 0.7);
  -moz-box-shadow: 1px 0px 10px 7px rgb(0, 204, 255, 0.7);
  box-shadow: 1px 0px 10px 7px rgb(0, 204, 255, 0.7);
}

.Node.IsHiding {
  opacity: 0;
  -webkit-animation-name: nodeHiding; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: nodeHiding;
  animation-duration: 1.9s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes nodeHiding {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Standard syntax */
@keyframes nodeHiding {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.NodeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin: 0px;
}
.card .card-content {
  padding: 13px !important;
}

.card-title .CodeMirror {
  font-size: 25px;
  font-weight: 400;
}

.card .card-content .card-title textarea {
  line-height: 37px;
  margin-top: 7px;
  /* margin-bottom: 13px; */
  font-size: 25px;
}
.LightMode .Node.card .card-content .card-title p {
  font-weight: 490;
}

.card .card-content .card-title i {
  line-height: 7px;
}

.NodeTitleClosed {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card-content .CodeMirror {
  width: 550px;
}

.card-content .footer {
  position: absolute;
  bottom: 10px;
  right: 13px;
  font-size: 13px;
  width: 97%;
}
.card-content .footer i {
  padding-left: 10px;
}
.card-content .footer i.more-left-padding {
  padding-left: 13px;
}
.card-content .footer span {
  padding-left: 4px;
}

.card-content .NodeContent {
  padding-bottom: 22px;
}

.card-content .NodeContent .collapsible {
  margin-bottom: 0px;
}

.card-content .NodeContent .collapsible-header {
  background-color: rgba(0, 0, 0, 0) !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-content .NodeContent .collapsible-body {
  background-color: rgba(0, 0, 0, 0) !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.QuestionAddChoice {
  margin-top: 4px;
  margin-left: 400px;
}
.QuestionAddChoice i {
  font-size: 20px;
  margin-bottom: 3px;
}

.card .card-action {
  padding: 10px 2.5px;
}
.card .card-action .LearnBefore {
  border-right: 1px solid #ececec;
  margin-right: -1px;
}
.card .card-action .LearnAfter {
  border-left: 1px solid #ececec;
}
.card .card-action .row {
  margin: 0px;
}
.card .card-action .row p {
  color: #ffab40;
  text-transform: uppercase;
  margin: 0px;
}
.card .card-action .row a {
  margin: 0px;
  padding: 1px 4px 1px 4px;
  width: 100%;
}

.fixed-action-btn .horizontal .click-to-toggle {
  position: relative;
  float: right;
  bottom: -4px;
  right: 10px;
}

.NodeOptionsItem {
  margin: 0px 7px 0 0 !important;
}

.fixed-action-btn.horizontal.click-to-toggle.direction-left > ul {
  margin: 0px -19px 0 0 !important;
}

.RemoveImageDIV {
  float: right;
  margin-bottom: -34px;
  margin-right: 4px;
}
.RemoveImageDIV .CloseButton i {
  font-size: 25px;
}

.NewChildProposalWarning {
  color: rgb(255, 115, 0);
  font-size: 16px;
}

#NewChildProposalTitleHint {
  font-size: 16px;
}

.NodeContent .ProposalTitle {
  margin-top: 13px !important;
}

.EditingNodeSearchIcon {
  color: white;
}
.LightMode .EditingNodeSearchIcon {
  color: #454545;
}

/* ------------------------------------------ */
/* styles from meta button */

.MetaButton {
  text-align: left;
  padding: 4px 7px 4px 7px;
  color: rgb(190, 190, 190) !important;
  /* text-transform: none !important; */
  /* transition: color 0.1s ease; vendorless fallback */
  /* -o-transition: color 0.1s ease; opera */
  /* -ms-transition: color 0.1s ease; IE 10 */
  /* -moz-transition: color 0.1s ease; Firefox */
  /* -webkit-transition: color 0.1s ease; safari and chrome */
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background: none;
  border: none;
  border-radius: 4px;
  overflow: visible;
  z-index: 1;

  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.MetaButton.Round {
  border-radius: 50%;
}

.MetaButton.Clickable {
  cursor: pointer;
}

.LightMode .MetaButton {
  color: rgba(0, 0, 0, 0.6) !important;
}

.MetaButton.Clickable:hover,
.MetaButton.Clickable:focus {
  background: rgba(255, 255, 255, 0.13);
  color: rgb(255, 255, 255) !important;
}
.LightMode .MetaButton.Clickable:hover,
.LightMode .MetaButton.Clickable:focus {
  color: rgba(0, 0, 0, 0.9) !important;
}

.MetaButton.Clickable:hover i {
  color: #ff9100 !important;
}

.MetaButton .CloseButton {
  background: rgb(34, 34, 34);
  background: radial-gradient(
    circle,
    rgba(34, 34, 34, 1) 0%,
    rgba(69, 69, 69, 1) 4%,
    rgba(0, 212, 255, 0) 70%
  );
}

.LightMode .MetaButton .CloseButton {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 4%,
    rgba(255, 255, 255, 0) 70%
  );
}

.LightMode .MetaButton .CloseButton i {
  color: #808080 !important;
}

.MetaButton:hover .CloseButton i {
  color: red !important;
}

.MetaButton.hoverable:hover,
.MetaButton.hoverable:focus,
.TooltipText {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.MetaButton span {
  padding-left: 4px;
}

/* ------------------------------------------ */
/* styles from line */

.LineContainer {
  position: absolute;
  text-align: center;
  height: 0px;
  border-bottom: 2.5px solid rgb(1, 211, 106);
}
.LightMode .LineContainer {
  border-bottom: 4px solid rgb(1, 211, 106);
}

.Line {
  margin-top: -22px;
  color: rgb(220, 220, 220);
  background-color: rgb(31, 31, 31, 0.4);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(31, 31, 31, 1);
  -moz-box-shadow: 1px 0px 10px 0px rgba(31, 31, 31, 1);
  box-shadow: 1px 0px 10px 0px rgba(31, 31, 31, 1);
}

.RightArrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  float: right;
  margin-top: -9.1px;
  margin-right: -1px;
}


/* ------------------------------------------- */
/* styles from nodeFooter */
.NodeFooter {
  position: relative;
  bottom: -9.1px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 100;
}
.NodeFooter.Right {
  float: right;
  right: -10px;
}
.NodeFooter.Left {
  float: left;
  left: -4px;
  bottom: -13px;
  font-size: 14.5px;
}

.FooterParentNodesOpen {
  margin-right: 4px;
  margin-left: -4px;
}
.FooterParentNodesClosed {
  margin-right: -5.5px;
  margin-left: -4px;
}

.ImageUploadButton {
  font-size: 19px;
}

.ImageUploadButtonLoader {
  margin: -10px 0px -4px 10px;
  position: relative;
  width: 25px !important;
  height: 25px !important;
}

.ImageUploadPercentage {
  margin-left: 4px;
}

.NodeFooter.Left {
  margin-top: -10px;
}

.NodeTypeIconOpen {
  position: relative;
  top: -34px;
  left: 40px;
  font-size: 16px;
  line-height: 4px;
  margin-bottom: -7px;
  padding-top: 16px;
}

.NodeTypeIconClosed {
  position: relative;
  top: 10px;
  left: 4px;
  font-size: 16px;
  margin-bottom: 22px;
}

.NodeFooter .SidebarButton {
  margin-bottom: -13px;
}

.NodeFooter .btn-floating,
.NodeFooter .UserAvatar.UserStatusIcon {
  margin: 0px 0px 0px 0px;
  height: 28px;
  line-height: 28px;
  width: 28px;
}

.CitationsSpanBeforeTagIcon {
  margin-right: 7px;
}

.FooterTagIcon {
  font-size: 14.2px !important;
  margin-right: 0px !important;
  margin-top: 1px !important;
}


/* --------------------------------------------- */
/* styles from user status icon */

.UserAvatar.UserStatusIcon {
  margin: 0px 0px 0px 0px;
  height: 40.9px;
  line-height: 40.9px;
  width: 40.9px;
  direction: ltr;
  transition: all 2.2s; /* vendorless fallback */
  -o-transition: all 2.2s; /* opera */
  -ms-transition: all 2.2s; /* IE 10 */
  -moz-transition: all 2.2s; /* Firefox */
  -webkit-transition: all 2.2s; /*safari and chrome */
}
.SidebarButton .GainedPoint .SidebarButton .GainedPoint {
  -webkit-box-shadow: 1px 1px 13px 4px rgba(21, 255, 0, 1);
  -moz-box-shadow: 1px 1px 13px 4px rgba(21, 255, 0, 1);
  box-shadow: 1px 1px 13px 4px rgba(21, 255, 0, 1);
}
.SidebarButton .LostPoint .SidebarButton .LostPoint {
  -webkit-box-shadow: 1px 1px 13px 4px rgba(255, 0, 0, 1);
  -moz-box-shadow: 1px 1px 13px 4px rgba(255, 0, 0, 1);
  box-shadow: 1px 1px 13px 4px rgba(255, 0, 0, 1);
}

.UserStatusOnlineIcon,
.UserStatusOfflineIcon {
  position: relative;
  white-space: nowrap;
  margin: -10px 0px -4px 0px;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: greenyellow;
  overflow: hidden;
}

.Lightmode .UserStatusOnlineIcon {
  background-color: rgb(99, 165, 0);
}

.UserStatusOfflineIcon {
  background-color: #a7a7a7;
}

.UserStatusTotalPoints,
.UserStatusTotalAwards {
  color: white;
  display: block;
  position: relative;
  left: 46px;
  top: -30.1px;
  line-height: 0;
  height: 0;
  width: 82px;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0s, line-height 0s, height 0s; /* vendorless fallback */
  -o-transition: visibility 0s, line-height 0s, height 0s; /* opera */
  -ms-transition: visibility 0s, line-height 0s, height 0s; /* IE 10 */
  -moz-transition: visibility 0s, line-height 0s, height 0s; /* Firefox */
  -webkit-transition: visibility 0s, line-height 0s, height 0s; /*safari and chrome */
}
.LightMode .UserStatusTotalPoints,
.LightMode .UserStatusTotalAwards {
  color: #454545;
}
.UserStatusTotalAwards {
  top: -34px;
}

.UserStatusTotalPoints.inUserBar {
  top: -39px;
}

#UserProfileButtonDefaultTag {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
